body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

#landscape {
    position: relative;
    width: 200vw; /* Larger than viewport */
    height: 100vh;
    background-image: url('../assets/images/debug-wallpaper.png');
    background-repeat: repeat-x;
    transition: transform 0.5s ease;
}

#character {
    position: absolute;
    bottom: calc(100vh/2);
    left: calc(100vw/2);
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    background-image: url('../assets/images/pokeball.png');
    background-size: cover;
    transition: transform 0.5s ease;
}