.direction-btn {
    width: 50px; height: 50px;
    margin: 5px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
#up, #down {
    margin-left: 60px;
    margin-right: 60px;
}